<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add student Dashboard</title>
  <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font/css/all.min.css">
  <style>
    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="row">
    <div class="col-md-3">
      <div class="container bg-secondary p-3 text-center">
        <h3 class="text-white">Admin Dashboard</h3>
      </div>
      <div>
        <div class="border p-3 hover d-flex justify-content-between align-items-center">
          <a href="/dashboard">Home</a>
          <i class="fas fa-home"></i>
        </div>
        <div class="border p-3 hover d-flex justify-content-between align-items-center">
          <a href="/add_student">Add student</a>
          <i class="fas fa-user"></i>
        </div>
        <div class="border p-3 hover d-flex justify-content-between align-items-center">
          <a href="/set_exam">Set exam question</a>
          <i class="fas fa-book"></i>
        </div>
        <div class="border p-3 hover d-flex justify-content-between align-items-center">
          <a href="/all_students">All students</a>
          <i class="fas fa-users"></i>
        </div>
        <div class="border p-3 hover d-flex justify-content-between align-items-center">
          <a href="/get_result">Get results</a>
          <i class="fas fa-eye"></i>
        </div>
        <div class="border p-3 hover d-flex justify-content-between align-items-center">
          <a href="/questions">All questions</a>
          <i class="fas fa-question"></i>
        </div>
        <div class="border p-3 hover d-flex justify-content-between align-items-center">
          <a href="/about">About us</a>
          <i class="fas fa-users"></i>
        </div>
        <div class="border bg-secondary p-3 hover d-flex flex-column justify-content-center align-items-center"
          style="height: 15vh;">
          <h6 class="text-white">Powered by Hi-Tech</h6>
          <span class="text-white">&copy; 2022</span>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="breadcrumb mt-4">
          <h4 class="breadcrumb-item"><i class="fas fa-home"></i> Dashboard</h4>
          <h4 class="text-primary breadcrumb-item">Add student</h4>
        </div>
        <hr>
      </div>
      <!-- dashboard -->
      <div class="row container">
        <div class="col-md-6">
          <div class="border alert alert-info">
            <h3>Rules</h3>
            <ol>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, corrupti.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, corrupti.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, corrupti.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, corrupti.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, corrupti.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, corrupti.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, corrupti.</li>
            </ol>
          </div>
        </div>
        <div class="col-md-6">
          <form action="/register" method="post" class="w-100 border p-4">
            <% if(error) {%>
              <div class="alert alert-danger">
                <h6>Alert</h6>
                <p>
                  <%= error %>
                </p>
              </div>
              <%}%>
                <div class="form-group mt-3">
                  <input type="text" name="fname" class="form-control" placeholder="First name">
                </div>
                <div class="form-group mt-3">
                  <input type="text" name="lname" class="form-control" placeholder="Last name">
                </div>
                <div class="form-group mt-3">
                  <input type="text" name="matnumber" class="form-control" placeholder="Matric number">
                </div>
                <div class="form-group mt-3">
                  <select name="dept" class="form-select">
                    <option value="CS">Computer science</option>
                    <option value="OTM">Office technology management</option>
                    <option value="SLT">Science Lab</option>
                    <option value="CE">Chemical engineering</option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <select name="level" class="form-select">
                    <option value="ND I">ND I</option>
                    <option value="ND II">ND II</option>
                    <option value="HND I">HND I</option>
                    <option value="HND I">HND II</option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <button type="submit" class="btn btn-success">Add student<i class="fas fa-plus"></i></button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>